*~
*.a
*.diff
*.dll*
*.exe
*.mo
*.o
*.pc
*.pot
*.so*
.*.swp
.depend
config.h
config.mak
config.log
x264
checkasm

*.264
*.2pass
*.mkv
*.mp4
*.y4m
*.yuv
x264_2pass.log

/build-stamp
/debian/*/
/debian/*.debhelper
/debian/*.debhelper.log
/debian/*.substvars
/debian/files
/debian/stamp-patched
/debian/tmp/
